@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #595656;
  overflow-x: hidden; }

.navbar-fixed-top {
  background: #f89829; }
  .navbar-fixed-top .navbar-header {
    background: #302f2f;
    float: left;
    width: 100%;
    padding: 0px;
    position: absolute;
    left: 0px; }
    .navbar-fixed-top .navbar-header a {
      color: #fff;
      margin-left: auto !important; }
  .navbar-fixed-top .navbar-collapse .navbar-right {
    height: 50px;
    position: absolute;
    right: 15px; }
    .navbar-fixed-top .navbar-collapse .navbar-right li {
      height: 50px;
      border-left: 2px solid #F99F38; }
    .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user {
      height: 50px;
      width: 145px; }
      .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a {
        color: #333; }
        .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a span {
          vertical-align: top; }
        .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data {
          display: inline-block;
          height: 50px;
          width: 65px; }
          .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .name, .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name {
            font-size: 10px;
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 12px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif; }
          .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name {
            font-size: 8px; }
            .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name .caret {
              vertical-align: middle; }

.principal-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-top: 50px; }
  .principal-wrapper .col-sm-2.paddingless, .principal-wrapper .col-sm-10.paddingless {
    padding: 0px; }
  .principal-wrapper #accordion {
    position: fixed; }
  .principal-wrapper .panel-group {
    margin-right: -3px;
    margin-bottom: 0px;
    border-radius: 0px;
    background: #F8F8F8;
    width: 100%; }
    .principal-wrapper .panel-group .panel-menu, .principal-wrapper .panel-group .panel-submenu, .principal-wrapper .panel-group .panel-last-menu {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border-color: #979494;
      cursor: pointer; }
      .principal-wrapper .panel-group .panel-menu h4, .principal-wrapper .panel-group .panel-submenu h4, .principal-wrapper .panel-group .panel-last-menu h4 {
        width: 15%; }
      .principal-wrapper .panel-group .panel-menu .panel-heading, .principal-wrapper .panel-group .panel-submenu .panel-heading, .principal-wrapper .panel-group .panel-last-menu .panel-heading {
        background: #595656;
        color: #fff;
        height: 45px;
        border-radius: 0px; }
        .principal-wrapper .panel-group .panel-menu .panel-heading a, .principal-wrapper .panel-group .panel-submenu .panel-heading a, .principal-wrapper .panel-group .panel-last-menu .panel-heading a {
          margin-left: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
      .principal-wrapper .panel-group .panel-menu .bg-submenu, .principal-wrapper .panel-group .panel-submenu .bg-submenu, .principal-wrapper .panel-group .panel-last-menu .bg-submenu {
        background: #302f2f;
        margin-right: -3px; }
        .principal-wrapper .panel-group .panel-menu .bg-submenu a, .principal-wrapper .panel-group .panel-submenu .bg-submenu a, .principal-wrapper .panel-group .panel-last-menu .bg-submenu a {
          margin-left: 28px; }
      .principal-wrapper .panel-group .panel-menu .bg-last-menu, .principal-wrapper .panel-group .panel-submenu .bg-last-menu, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu {
        height: 30px;
        font-size: 10px;
        background: #595656; }
        .principal-wrapper .panel-group .panel-menu .bg-last-menu a, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a {
          margin-left: 50px;
          font-family: 'Roboto', sans-serif;
          font-size: 11px; }
        .principal-wrapper .panel-group .panel-menu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-menu .bg-last-menu a:hover, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a:hover, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a:hover {
          text-decoration: none; }
    .principal-wrapper .panel-group .panel-submenu:last-of-type, .principal-wrapper .panel-group .panel-last-menu:last-of-type {
      margin-bottom: 0px; }
    .principal-wrapper .panel-group .panel-exit {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border: 0px; }
      .principal-wrapper .panel-group .panel-exit .bg-exit {
        background: #f89829;
        margin-right: -3px;
        height: 45px;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 17%; }
        .principal-wrapper .panel-group .panel-exit .bg-exit a {
          margin-left: 5px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
        .principal-wrapper .panel-group .panel-exit .bg-exit a:focus, .principal-wrapper .panel-group .panel-exit .bg-exit a:hover {
          text-decoration: none; }
  .principal-wrapper .content-wrapper {
    border-radius: 0px;
    background: #959595;
    padding: 10px;
    margin-bottom: 0px; }
    .principal-wrapper .content-wrapper .body {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border: 0px; }
      .principal-wrapper .content-wrapper .body .bg-exit {
        background: #f89829;
        margin-right: -3px;
        height: 45px;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 17%; }
        .principal-wrapper .content-wrapper .body .bg-exit a {
          margin-left: 5px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
        .principal-wrapper .content-wrapper .body .bg-exit a:focus, .principal-wrapper .content-wrapper .body .bg-exit a:hover {
          text-decoration: none; }
      .principal-wrapper .content-wrapper .body .panel-default {
        border: none;
        padding: 0 0px; }
        .principal-wrapper .content-wrapper .body .panel-default .panel-heading {
          background: none; }
    .principal-wrapper .content-wrapper .heading {
      padding: 5px 20px; }
      .principal-wrapper .content-wrapper .heading h3 {
        color: white;
        margin-top: 0px;
        margin-bottom: 5px; }
      .principal-wrapper .content-wrapper .heading p {
        margin-bottom: 0px;
        color: white;
        font-size: 14px; }
        .principal-wrapper .content-wrapper .heading p .first-breadcrumb {
          color: black; }
        .principal-wrapper .content-wrapper .heading p .last-breadcrumb {
          color: #f89829; }
    .principal-wrapper .content-wrapper .content-wrapper {
      margin-left: 3px; }
      .principal-wrapper .content-wrapper .content-wrapper .panel {
        margin-right: 1px; }
    .principal-wrapper .content-wrapper .panel-heading {
      position: relative;
      padding: 15px 40px; }
      .principal-wrapper .content-wrapper .panel-heading h4 {
        margin-left: -15px;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px; }
      .principal-wrapper .content-wrapper .panel-heading .principal-buttons {
        margin-top: 25px; }
      .principal-wrapper .content-wrapper .panel-heading .col-sm-6 {
        padding: 0px; }
      .principal-wrapper .content-wrapper .panel-heading .new-registry {
        font-size: 15px;
        color: white;
        text-align: center;
        width: 25px;
        height: 25px;
        padding-top: 2px;
        padding-left: 8px;
        cursor: pointer;
        background: #f89829; }
      .principal-wrapper .content-wrapper .panel-heading label {
        margin-top: 7px;
        margin-left: 15px;
        color: #959595;
        font-weight: normal; }
      .principal-wrapper .content-wrapper .panel-heading .search-group {
        width: 30%;
        margin-left: 20px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group .input-group-addon {
          font-size: 10px;
          background: none;
          border-right: none;
          height: 25px;
          padding: 3px 12px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group input {
          border-left: none;
          padding-left: 0px;
          height: 30px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-style: italic; }
      .principal-wrapper .content-wrapper .panel-heading .btn-wrapper {
        width: 100%;
        padding-top: 4px; }
        .principal-wrapper .content-wrapper .panel-heading .btn-wrapper .btn-gray {
          width: 20%;
          background: #959595;
          color: white;
          float: right;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 1px;
          height: 25px;
          padding-top: 4px;
          font-size: 10px; }
          .principal-wrapper .content-wrapper .panel-heading .btn-wrapper .btn-gray:last-of-type {
            margin-right: 20px; }
      .principal-wrapper .content-wrapper .panel-heading hr {
        width: 100%;
        height: 1px;
        color: #959595;
        position: absolute;
        left: 0px;
        bottom: -10px; }
    .principal-wrapper .content-wrapper .panel-body {
      border: none !important;
      padding: 5px 40px; }
      .principal-wrapper .content-wrapper .panel-body .form-group label {
        width: 100%;
        text-transform: uppercase;
        font-size: 10px; }
      .principal-wrapper .content-wrapper .panel-body .form-group .btn-group {
        width: 100%;
        display: block; }
        .principal-wrapper .content-wrapper .panel-body .form-group .btn-group .dropdown-toggle {
          padding-left: 9px;
          width: 100%;
          background: white;
          color: #959595;
          text-align: left;
          border: 1px solid #555;
          height: 25px;
          padding-top: 4px;
          font-size: 10px; }
          .principal-wrapper .content-wrapper .panel-body .form-group .btn-group .dropdown-toggle .caret {
            float: right;
            color: black;
            margin-top: 8px; }
      .principal-wrapper .content-wrapper .panel-body .form-group .form-control {
        width: 100%;
        background: white;
        color: #959595;
        text-align: left;
        border: 1px solid #555;
        height: 25px;
        font-size: 10px; }
      .principal-wrapper .content-wrapper .panel-body .form-group .radio {
        float: left;
        width: 50%;
        margin-top: 0px; }
        .principal-wrapper .content-wrapper .panel-body .form-group .radio label {
          position: relative;
          overflow: hidden;
          height: 24px;
          line-height: 2.5;
          padding-left: 30px;
          margin-top: 0px; }
          .principal-wrapper .content-wrapper .panel-body .form-group .radio label input {
            position: absolute;
            left: 0; }
            .principal-wrapper .content-wrapper .panel-body .form-group .radio label input:after {
              position: absolute;
              left: 20px;
              border: 1px solid #959595;
              color: #f89829;
              width: 17px;
              height: 17px;
              font-size: 24px;
              border-radius: 15px;
              content: "├ö├╣├à";
              line-height: 0;
              padding-top: 6px;
              content: ""; }
          .principal-wrapper .content-wrapper .panel-body .form-group .radio label input:checked:after {
            content: "●"; }

.btn-group {
  width: 100%; }

.status {
  font-weight: bold;
  font-size: 12px;
  font-family: 'Roboto', sans-serif; }

.center {
  text-align: center; }

.active {
  background: #9E6E36 !important; }

.active-last-menu {
  background: #f89829 !important; }

.logo-hermes {
  background-image: url("../img/logo_hermes.png");
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-size: 70px; }

.ico {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-size: 16px; }
  .ico.inicio {
    background-image: url("../img/dash.png"); }
  .ico.administracion {
    background-image: url("../img/administracion.png"); }
  .ico.recursos-humanos {
    background-image: url("../img/rh.png"); }
  .ico.comprimir {
    background-image: url("../img/comprimir.png");
    float: right;
    background-size: 10px; }
  .ico.comprimir-tabla {
    background-image: url("../img/comprimir_table.png"); }
  .ico.dots {
    background-image: url("../img/dots.png");
    background-size: auto;
    float: right;
    margin-top: -30px;
    margin-right: -20px; }
  .ico.usuario {
    background-image: url("../img/user.png");
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin-top: -4px; }
  .ico.editar {
    background-image: url("../img/edit.png"); }
  .ico.expandir {
    background-image: url("../img/expandir.png");
    float: right;
    background-size: 10px; }
  .ico.filtro {
    background-image: url("../img/filter.png"); }
  .ico.grua {
    background-image: url("../img/grua.png"); }
  .ico.salir {
    background-image: url("../img/logout.png"); }
  .ico.combos {
    background-image: url("../img/menu.png");
    background-size: 7px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    float: right; }
  .ico.notificaciones {
    background-image: url("../img/notificaciones.png"); }
  .ico.conter {
    background-image: url("../img/notification.png");
    position: absolute;
    margin-left: 10px;
    margin-top: -6px; }
  .ico.registro-over {
    background-image: url("../img/nuevo_registro_over.png"); }
  .ico.registro {
    background-image: url("../img/nuevo_registro.png"); }
  .ico.buscar {
    background-image: url("../img/search.png"); }
  .ico.borrar {
    background-image: url("../img/trash.png"); }

.btn-form-documents {
  width: 100%; }

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%; }
  .btn.btn-documents-data-inactive {
    height: 25px;
    background: #959595;
    color: #fff;
    border: 1px solid #595656;
    width: 33%;
    border-bottom-left-radius: 0px;
    padding-top: 4px; }
  .btn.btn-documents-data {
    height: 25px;
    background: #f89829;
    color: #fff;
    border: 1px solid #A96E0B;
    width: 33%;
    border-bottom-left-radius: 0px;
    padding-top: 3px; }
  .btn.btn-documents-plus {
    height: 25px;
    background: #fff;
    color: #f89829;
    border: 1px solid #f89829;
    width: 5%;
    border-bottom-right-radius: 0px;
    padding: 0px; }
    .btn.btn-documents-plus .plus {
      font-size: 24px;
      display: block;
      margin-top: -5px; }
  .btn.btn-apply {
    height: 25px;
    background: #f89829;
    color: #fff;
    border: 1px solid #A96E0B;
    width: auto;
    padding-top: 3px; }
  .btn.btn-action {
    width: 100%;
    background: white;
    color: #595656;
    text-align: left;
    border: 1px solid #555;
    height: 25px;
    font-size: 10px;
    padding-top: 5px; }

.combo-perfil {
  margin-top: -50px; }

.input-group-addon {
  background: #fff;
  border: 1px solid #555;
  padding: 0px 4px;
  border-left: none; }

.search-group-filter {
  width: 100%; }
  .search-group-filter .search-filters, .search-group-filter .search-input {
    height: 25px;
    border: 1px solid #555;
    border-radius: 4px;
    border-right: none;
    font-size: 10px; }
  .search-group-filter .border-input {
    border-left: 1px solid #555; }
  .search-group-filter .search-input {
    height: 25px !important;
    border-right: 1px solid #555; }

.btn-settings {
  margin-top: -5px;
  display: flex;
  width: 80%; }
  .btn-settings .btn-sett {
    width: 100%;
    font-size: 11px;
    color: #595656;
    background: #EEEEEE;
    border: 1px solid #CDCDCD;
    height: 25px;
    padding-top: 4px;
    border-radius: 4px !important; }
  .btn-settings .btn-sett:hover {
    background: #f89829;
    color: #fff;
    font-weight: bold;
    border: 1px solid #A96E0B; }

.panel-documents {
  border: 1px solid #CDCDCD !important;
  border-top-left-radius: 0px !important;
  background: #EEEEEE;
  border-radius: 0px; }
  .panel-documents .panel-body {
    padding-left: 15px !important;
    padding-right: 15px !important; }
    .panel-documents .panel-body .form-group {
      font-size: 11px !important; }
      .panel-documents .panel-body .form-group .form-control {
        border: 1px solid #959595 !important;
        font-size: 10px !important; }
      .panel-documents .panel-body .form-group .dropdown-toggle {
        border: 1px solid #959595 !important;
        font-size: 10px !important; }

.registry-inactive {
  color: #fff !important;
  background: #959595 !important; }
  .registry-inactive label {
    margin-top: 7px;
    margin-left: 15px;
    color: #fff;
    font-weight: normal; }

.active-elements a {
  background-color: transparent !important;
  color: #f89829 !important; }
  .active-elements a span {
    border-bottom: 2px solid #f89829;
    padding-bottom: 5px; }

.status-active {
  background: #f89829 !important;
  color: #fff !important;
  font-weight: bold !important;
  border: 1px solid #A96E0B !important; }

.nav-pills {
  margin-bottom: 15px; }
  .nav-pills li {
    width: 25%; }
    .nav-pills li a {
      cursor: pointer;
      padding-left: 0px;
      color: #555;
      font-weight: bold;
      padding: 0px 15px 3px;
      font-size: 10px; }
    .nav-pills li a:hover {
      background-color: transparent !important;
      color: #f89829; }
      .nav-pills li a:hover span {
        border-bottom: 2px solid #f89829;
        padding-bottom: 5px; }

.hidden {
  visible: hidden; }

.settings-elements, .work-elements {
  color: #595656; }
  .settings-elements .checkbox, .work-elements .checkbox {
    position: relative;
    margin: 0px auto;
    line-height: 22px;
    font-size: 11px;
    height: 20px; }
    .settings-elements .checkbox label, .work-elements .checkbox label {
      display: inline; }
      .settings-elements .checkbox label input[type=checkbox], .work-elements .checkbox label input[type=checkbox] {
        width: 16px;
        height: 16px; }
        .settings-elements .checkbox label input[type=checkbox]:after, .work-elements .checkbox label input[type=checkbox]:after {
          margin-left: -15px;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          background: #EEEEEE;
          border: 1px solid #959595;
          content: "";
          position: absolute;
          left: 15px;
          top: 0px; }
      .settings-elements .checkbox label input[type=checkbox]:checked:after, .work-elements .checkbox label input[type=checkbox]:checked:after {
        background: #f89829;
        border: 1px solid #A96E0B;
        color: #fff;
        content: "\2713";
        padding-left: 1px;
        line-height: 1.2; }

.principal-buttons-two, .last-buttons, .footers {
  background: #fff;
  margin-left: -1px;
  margin-right: 0px;
  margin-top: -5px; }
  .principal-buttons-two .col-sm-6, .last-buttons .col-sm-6, .footers .col-sm-6 {
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }
  .principal-buttons-two .show-table, .last-buttons .show-table, .footers .show-table {
    font-style: italic;
    margin-top: 15px;
    margin-left: -10px; }
  .principal-buttons-two .first-filter, .last-buttons .first-filter, .footers .first-filter {
    margin-left: 1px; }
  .principal-buttons-two .second-filter, .last-buttons .second-filter, .footers .second-filter {
    margin-left: -15px;
    padding-right: 10px !important; }
  .principal-buttons-two .btn-wrapper, .last-buttons .btn-wrapper, .footers .btn-wrapper {
    width: 100%; }
    .principal-buttons-two .btn-wrapper .btn-gray, .last-buttons .btn-wrapper .btn-gray, .footers .btn-wrapper .btn-gray {
      width: 20%;
      background: #959595;
      color: white;
      float: right;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 1px;
      height: 25px;
      padding-top: 4px; }
      .principal-buttons-two .btn-wrapper .btn-gray:last-of-type, .last-buttons .btn-wrapper .btn-gray:last-of-type, .footers .btn-wrapper .btn-gray:last-of-type {
        margin-right: 20px; }
  .principal-buttons-two .new-registry, .last-buttons .new-registry, .footers .new-registry {
    font-size: 15px;
    color: white;
    text-align: center;
    width: 25px;
    height: 25px;
    padding-top: 2px;
    padding-left: 8px;
    cursor: pointer;
    background: #f89829; }
  .principal-buttons-two label, .last-buttons label, .footers label {
    margin-top: 7px;
    margin-left: 15px;
    color: #959595;
    font-weight: normal; }
  .principal-buttons-two .search-group, .last-buttons .search-group, .footers .search-group {
    width: 30%;
    margin-left: 20px; }
    .principal-buttons-two .search-group .input-group-addon, .last-buttons .search-group .input-group-addon, .footers .search-group .input-group-addon {
      font-size: 10px;
      background: none;
      border-right: none;
      height: 25px;
      padding: 3px 12px; }
    .principal-buttons-two .search-group input, .last-buttons .search-group input, .footers .search-group input {
      border-left: none;
      padding-left: 0px;
      height: 30px; }
    .principal-buttons-two .search-group ::-webkit-input-placeholder, .last-buttons .search-group ::-webkit-input-placeholder, .footers .search-group ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-style: italic; }

.result-table {
  font-size: 10px;
  margin-bottom: 0px;
  border-bottom: 1px solid #959595; }
  .result-table thead tr:first-of-type {
    background-color: #D0CDCB !important; }
  .result-table thead th.center {
    text-align: center; }
  .result-table td:first-of-type, .result-table th:first-of-type {
    width: 50px;
    padding-left: 20px; }
  .result-table td:last-of-type, .result-table th:last-of-type {
    padding-right: 30px; }
  .result-table td {
    vertical-align: middle !important; }
  .result-table tr:nth-of-type(odd) {
    background-color: #fff; }
  .result-table tr:nth-of-type(even) {
    background-color: #e5e5e5; }
  .result-table .ico-crane {
    background: url(../img/grua.png) no-repeat;
    background-size: contain;
    width: 35px;
    height: 30px;
    display: block; }
  .result-table .ico-edit {
    background: url(../img/edit.png) no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    cursor: pointer; }
  .result-table .ico-trash {
    background: url(../img/trash.png) no-repeat;
    width: 18px;
    background-size: contain;
    height: 18px;
    display: block;
    float: right;
    cursor: pointer; }
  .result-table .btn-default {
    background-color: #767676;
    background-image: none;
    color: #fff;
    height: 25px;
    padding-top: 4px;
    font-size: 10px; }
    .result-table .btn-default :hover {
      background-color: #767676;
      background-image: none; }
    .result-table .btn-default.width65p {
      width: 65%; }
  .result-table .checkbox-label {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 0px; }
    .result-table .checkbox-label input[type=checkbox] {
      position: absolute;
      left: -15px;
      top: 4px;
      margin: 0px; }
      .result-table .checkbox-label input[type=checkbox]:after {
        width: 15px;
        height: 15px;
        border-radius: 3px;
        background: #e5e5e5;
        border: 1px solid #959595;
        content: "";
        position: absolute;
        left: 15px;
        top: 0px; }
    .result-table .checkbox-label input[type=checkbox]:checked:after {
      content: "\2713";
      padding-left: 1px;
      line-height: 1.2; }

.pager-wrapper {
  width: 100%;
  float: left;
  background-color: #F8F8F8;
  padding: 20px; }
  .pager-wrapper p {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 10px; }
  .pager-wrapper nav {
    width: 50%;
    float: right; }
    .pager-wrapper nav .pagination {
      margin-top: 0px;
      margin-bottom: 0;
      float: right;
      color: #595656; }
      .pager-wrapper nav .pagination li a {
        color: #595656;
        border-color: #595656; }
        .pager-wrapper nav .pagination li a:hover {
          background-color: #f89829; }

#collapseOne hr {
  margin-top: 5px;
  margin-bottom: 20px; }

.pb15 {
  padding-bottom: 15px !important; }

/*# sourceMappingURL=main.css.map */
