
@import url('https://fonts.googleapis.com/css?family=Roboto');

$orangeBg:#f89829;
$mediumGray:#595656;
$strongGray:#302f2f;
$lightGray:#959595;
$orangeHover:#9E6E36;
$panelBg:#F8F8F8;
$orangeLight:#F99F38;
$orangeDark:#A96E0B;

body{
	background: $mediumGray;
}



//css nav fixed
.navbar-fixed-top{
	background: $orangeBg;
	.navbar-header{
		background: $strongGray;
		float: left;
        width: 17%;
    	padding: 0px;
    	position: absolute;
    	left: 0px;
    	a{
    		color: #fff;
    		margin-left: auto!important;
    	}
	}
	.navbar-collapse{
		.navbar-right{
			height: 50px;
			position: absolute;
    		right: 15px;
    		li{
    			height: 50px;
    			border-left: 2px solid $orangeLight;
    		}
    		.perfil-user{
    			height: 50px;
    			width: 130px;
    			a{
    				color: #333;
    				span{
    					vertical-align: top;
    				}
    				.user-data{
    					display: inline-block;
    					height: 50px;
    					width: 65px;
    					.name, .role-name{
    						font-size: 10px;
    						margin:0px;
    						padding-top: 0px;
    						padding-bottom: 0px;
    						line-height: 12px;
    						font-weight: bold;
    						font-family: 'Roboto', sans-serif;
    					}
    					.role-name{
    						font-size: 8px;
    						.caret{
    							vertical-align: middle;
    						}
    					}
    				}
    			}
    		}
		}
	}
}


// collapse menu style 

.principal-wrapper{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding-top: 50px;
	.col-sm-2.paddingless, .col-sm-10.paddingless{
		padding: 0px;
	}
	.panel-group{
		margin-right: -3px;
		margin-bottom: 0px;
		border-radius:0px;
		background:$panelBg;
		width: 100%;
		.panel-menu, .panel-submenu, .panel-last-menu{
			border-radius: 0px;
		    margin-bottom: -7px;
		    margin-left: -1px;
		    border-color: #979494;
		    cursor: pointer;

		    .panel-heading{
		    	background: $mediumGray;
		    	color: #fff;
		    	height: 45px;
		    	a{
		    		margin-left: 5px;
		    		font-family: 'Roboto', sans-serif;
		    		font-size: 12px;
		    		vertical-align: super;
		    	}
		    }
		    .bg-submenu{
				background: $strongGray;
				margin-right: -3px;
				a{
					margin-left: 28px;
				}
			}
			.bg-last-menu{
				height: 30px;
				font-size: 10px;
				background: $mediumGray;
				a{
					margin-left: 50px;
					font-family: 'Roboto', sans-serif;
					font-size: 11px;
				}
				a:focus, a:hover{
					text-decoration: none;
				}
			}
		}
		.panel-submenu:last-of-type, .panel-last-menu:last-of-type{
			margin-bottom: 0px;
		}
		.panel-exit{
			border-radius: 0px;
			margin-bottom: -7px;
			margin-left: -1px;
			border: 0px;
			.bg-exit{
				background: $orangeBg;
				margin-right: -3px;
				height: 45px;
				font-weight: bold;
				position: fixed;
				bottom: 0;
				width: 17%;;
					a{
						margin-left: 5px;
						font-weight: bold;
						font-family: 'Roboto', sans-serif;
						font-size: 12px;
						vertical-align: super;
					}
					a:focus, a:hover{
						text-decoration: none;
					}
			}
		}
	}
	.content-wrapper{
		border-radius: 0px;
		background:$lightGray;
		padding:10px;
		.body{
			border-radius: 0px;
			margin-bottom: -7px;
			margin-left: -1px;
			border: 0px;
			.bg-exit{
				background: $orangeBg;
				margin-right: -3px;
				height: 45px;
				font-weight: bold;
				position: fixed;
				bottom: 0;
				width: 17%;;
				a{
					margin-left: 5px;
					font-weight: bold;
					font-family: 'Roboto', sans-serif;
					font-size: 12px;
					vertical-align: super;
				}
				a:focus, a:hover{
					text-decoration: none;
				}
			}
			.panel-default{
				border:none;
				padding: 0 0px;
				.panel-heading{
					background:none;
				}
			}
		}
		.heading{
			padding:20px;
			h3{
				color: white;
				margin-top: 0px;
				margin-bottom: 5px;
			}
			p{
				margin-bottom:0px;
				color: white;
				font-size: 14px;
				.first-breadcrumb{
					color: black;
				}
				.last-breadcrumb{
					color:$orangeBg
				}
			}
		}

		.content-wrapper{
			margin-left: 3px;
			.panel{
				margin-right: 1px;
			}
		}
		.panel-heading{
			position:relative;
			padding:20px 40px;
			h4{
				margin-left: -15px;
				font-weight:bold;
				font-size:14px;
				margin-bottom:10px;
			}
			.principal-buttons{
		    		margin-top: 25px;
		    }
			.col-sm-6{
				padding:0px;
			}
			.new-registry{
			    font-size: 20px;
			    color: white;
			    text-align: center;
			    width: 30px;
			    height: 30px;
			    background: #f89829;
			    padding-top: 0px;
			    padding-left: 9px;
			    cursor: pointer;				
			    background:$orangeBg;
			}
			label{
				margin-top:7px;
				margin-left: 15px;
				color: $lightGray;
				font-weight:normal;
			}
			.search-group{
				width: 30%;
				margin-left: 20px;
				.input-group-addon{
					background:none;
					border-right:none;
					height: 29px;
					padding:5px 12px;
				}
				input{
					border-left:none;
					padding-left:0px;
					height: 30px;
				}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			 		font-style:italic;
				}
				
			}
			.btn-wrapper{
				width: 100%;
				.btn-gray{
					width: 20%;
					background:$lightGray;
					color: white;
					float: right;
					font-size: 12px;
					font-weight: normal;
					letter-spacing: 1px;
					&:last-of-type{
						margin-right: 20px;
					}
				}

			}
			hr{
				width: 100%;
				height: 1px;
				color:$lightGray;
				position:absolute;
				left: 0px;
				bottom: 0px;
			}
		}
		.panel-body{
			border:none !important;
			padding-left: 40px;
			padding-right: 40px;
			.form-group{
				label{
					width: 100%;
					text-transform: uppercase
				}
				.btn-group{
					width: 100%;
					display:block;
					.dropdown-toggle{
						width:100%;
						background:white;
						color:$lightGray;
						text-align: left;
						border: 1px solid #555;
						.caret{
							float:right;
							color: black;
							margin-top: 8px;
						}

					}
				}
				.form-control{
						width: 100%;
    					background: white;
    					color: #959595;
    					text-align: left;
    					border: 1px solid #555;
					}
				.radio{
					float: left;
					width: 50%;
					margin-top: 0px;
					label{
						position:relative;
						overflow: hidden;
						height: 30px;
						line-height:2.5; 
						padding-left:30px;
						margin-top: 5px;
						input{
							position:absolute;
							left: 0;
							&:after{
							    position: absolute;
							    left: 20px;
							    border: 1px solid $lightGray;
							    color: #f89829;
							    width: 20px;
							    height: 20px;
							    font-size: 29px;
							    border-radius: 15px;
							    content: "●";
							    line-height: 0;
							    padding-top: 7px;
								content:""
							}
						}
						input:checked{
							&:after{
								content:"\25CF"
							}
						}
					}
				}
			}
		}
	}
}



.center{
	text-align:center;
}
.active{
	background: $orangeHover!important;
}

.active-last-menu{
	background: $orangeBg!important;
}
//icons
.logo-hermes{
	background-image: url("../img/logo_hermes.png");
	width: 100px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin-right: auto;
    margin-left: auto;
    background-size: 70px;
}	
.ico{
	width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    background-size: 16px;
		&.inicio{
			background-image: url('../img/dash.png')
		}
		&.administracion{
			background-image: url('../img/administracion.png');
		}
		&.recursos-humanos{
			background-image: url('../img/rh.png');
		}
		&.comprimir{
			background-image: url('../img/comprimir.png');
			float: right;
			background-size: 10px;
		}
		&.comprimir-tabla{
			background-image: url('../img/comprimir_table.png');
		}
		&.dots{
			background-image: url('../img/dots.png');
			background-size: auto;
			float: right;
    		margin-top: -30px;
    		margin-right: -20px;

		}
		&.editar{
			background-image: url('../img/edit.png');
		}
		&.expandir{
			background-image: url('../img/expandir.png');
			float: right;
			background-size: 10px;
		}
		&.filtro{
			background-image: url('../img/filter.png');
		}
		&.grua{
			background-image: url('../img/grua.png');
		}
		&.salir{
			background-image: url('../img/logout.png');
		}
		&.combos{
			background-image: url('../img/menu.png');
		}
		&.notificaciones{
			background-image: url('../img/notificaciones.png');
		}
		&.registro-over{
			background-image: url('../img/nuevo_registro_over.png');
		}
		&.registro{
			background-image: url('../img/nuevo_registro.png');
		}
		&.buscar{
			background-image: url('../img/search.png');
		}
		&.borrar{
			background-image: url('../img/trash.png');
		}	
}

//buttons

.btn-form-documents{
	width: 100%;
	.btn{
		font-family: 'Roboto', sans-serif;
		font-size: 12px;
	    width: 100%;
	    
		&.btn-documents-data{
			height: 40px;
			background: $orangeBg;
			color: #fff;
			border: 1px solid $orangeDark;
			width: 35%;
		}
		&.btn-documents-plus{
			height: 40px;
			background: #fff;
			color: $orangeBg;
			border: 1px solid $orangeBg;
			width: 8%;
			.plus{
				font-size: 24px;
				display: block;
    			margin-top: -5px;
			}
		}
	}
}