@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #595656; }

.navbar-fixed-top {
  background: #f89829; }
  .navbar-fixed-top .navbar-header {
    background: #302f2f;
    float: left;
    width: 17%;
    padding: 0px;
    position: absolute;
    left: 0px; }
    .navbar-fixed-top .navbar-header a {
      color: #fff;
      margin-left: auto !important; }

.principal-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-top: 50px; }
  .principal-wrapper .col-sm-2, .principal-wrapper .col-sm-10 {
    padding: 0px; }
    .principal-wrapper .col-sm-2 .panel-group, .principal-wrapper .col-sm-10 .panel-group {
      margin-right: -3px; }
      .principal-wrapper .col-sm-2 .panel-group .panel-menu, .principal-wrapper .col-sm-2 .panel-group .panel-submenu, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu, .principal-wrapper .col-sm-10 .panel-group .panel-menu, .principal-wrapper .col-sm-10 .panel-group .panel-submenu, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu {
        border-radius: 0px;
        margin-bottom: -7px;
        margin-left: -1px;
        border-color: #979494;
        cursor: pointer;
        /*    .panel-heading:hover{
           	background: $orangeHover;
           } */
        /* .bg-last-menu:active, .bg-last-menu:focus{
        	background: $orangeBg;
        } */ }
        .principal-wrapper .col-sm-2 .panel-group .panel-menu .panel-heading, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .panel-heading, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .panel-heading, .principal-wrapper .col-sm-10 .panel-group .panel-menu .panel-heading, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .panel-heading, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .panel-heading {
          background: #595656;
          color: #fff;
          height: 45px; }
          .principal-wrapper .col-sm-2 .panel-group .panel-menu .panel-heading a, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .panel-heading a, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .panel-heading a, .principal-wrapper .col-sm-10 .panel-group .panel-menu .panel-heading a, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .panel-heading a, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .panel-heading a {
            margin-left: 5px;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            vertical-align: super; }
        .principal-wrapper .col-sm-2 .panel-group .panel-menu .bg-submenu, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .bg-submenu, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .bg-submenu, .principal-wrapper .col-sm-10 .panel-group .panel-menu .bg-submenu, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .bg-submenu, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .bg-submenu {
          background: #302f2f;
          margin-right: -3px; }
          .principal-wrapper .col-sm-2 .panel-group .panel-menu .bg-submenu a, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .bg-submenu a, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .bg-submenu a, .principal-wrapper .col-sm-10 .panel-group .panel-menu .bg-submenu a, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .bg-submenu a, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .bg-submenu a {
            margin-left: 28px; }
        .principal-wrapper .col-sm-2 .panel-group .panel-menu .bg-last-menu, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .bg-last-menu, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .bg-last-menu, .principal-wrapper .col-sm-10 .panel-group .panel-menu .bg-last-menu, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .bg-last-menu, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .bg-last-menu {
          height: 30px;
          font-size: 10px;
          background: #595656; }
          .principal-wrapper .col-sm-2 .panel-group .panel-menu .bg-last-menu a, .principal-wrapper .col-sm-2 .panel-group .panel-submenu .bg-last-menu a, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu .bg-last-menu a, .principal-wrapper .col-sm-10 .panel-group .panel-menu .bg-last-menu a, .principal-wrapper .col-sm-10 .panel-group .panel-submenu .bg-last-menu a, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu .bg-last-menu a {
            margin-left: 50px;
            font-family: 'Roboto', sans-serif;
            font-size: 11px; }
        .principal-wrapper .col-sm-2 .panel-group .panel-menu a:focus, .principal-wrapper .col-sm-2 .panel-group .panel-menu a:hover, .principal-wrapper .col-sm-2 .panel-group .panel-submenu a:focus, .principal-wrapper .col-sm-2 .panel-group .panel-submenu a:hover, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu a:focus, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu a:hover, .principal-wrapper .col-sm-10 .panel-group .panel-menu a:focus, .principal-wrapper .col-sm-10 .panel-group .panel-menu a:hover, .principal-wrapper .col-sm-10 .panel-group .panel-submenu a:focus, .principal-wrapper .col-sm-10 .panel-group .panel-submenu a:hover, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu a:focus, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu a:hover {
          text-decoration: none; }
      .principal-wrapper .col-sm-2 .panel-group .panel-submenu:last-of-type, .principal-wrapper .col-sm-2 .panel-group .panel-last-menu:last-of-type, .principal-wrapper .col-sm-10 .panel-group .panel-submenu:last-of-type, .principal-wrapper .col-sm-10 .panel-group .panel-last-menu:last-of-type {
        margin-bottom: 0px; }
    .principal-wrapper .col-sm-2 .panel-exit, .principal-wrapper .col-sm-10 .panel-exit {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border: 0px; }
      .principal-wrapper .col-sm-2 .panel-exit .bg-exit, .principal-wrapper .col-sm-10 .panel-exit .bg-exit {
        background: #f89829;
        margin-right: -3px;
        height: 45px;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 17%; }
        .principal-wrapper .col-sm-2 .panel-exit .bg-exit a, .principal-wrapper .col-sm-10 .panel-exit .bg-exit a {
          margin-left: 5px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
        .principal-wrapper .col-sm-2 .panel-exit .bg-exit a:focus, .principal-wrapper .col-sm-2 .panel-exit .bg-exit a:hover, .principal-wrapper .col-sm-10 .panel-exit .bg-exit a:focus, .principal-wrapper .col-sm-10 .panel-exit .bg-exit a:hover {
          text-decoration: none; }
    .principal-wrapper .col-sm-2 .content-wrapper, .principal-wrapper .col-sm-10 .content-wrapper {
      margin-left: 3px; }
      .principal-wrapper .col-sm-2 .content-wrapper .panel, .principal-wrapper .col-sm-10 .content-wrapper .panel {
        margin-right: 1px; }

.center {
  text-align: center; }

.active {
  background: #9E6E36 !important; }

.active-last-menu {
  background: #f89829 !important; }

.logo-hermes {
  background-image: url("../img/logo_hermes.png");
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-size: 70px; }

.ico {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-size: 16px; }
  .ico.inicio {
    background-image: url("../img/dash.png"); }
  .ico.administracion {
    background-image: url("../img/administracion.png"); }
  .ico.recursos-humanos {
    background-image: url("../img/rh.png"); }
  .ico.comprimir {
    background-image: url("../img/comprimir.png");
    float: right;
    background-size: 10px; }
  .ico.comprimir-tabla {
    background-image: url("../img/comprimir_table.png"); }
  .ico.dots {
    background-image: url("../img/dots.png"); }
  .ico.editar {
    background-image: url("../img/edit.png"); }
  .ico.expandir {
    background-image: url("../img/expandir.png");
    float: right;
    background-size: 10px; }
  .ico.filtro {
    background-image: url("../img/filter.png"); }
  .ico.grua {
    background-image: url("../img/grua.png"); }
  .ico.salir {
    background-image: url("../img/logout.png"); }
  .ico.combos {
    background-image: url("../img/menu.png"); }
  .ico.notificaciones {
    background-image: url("../img/notificaciones.png"); }
  .ico.registro-over {
    background-image: url("../img/nuevo_registro_over.png"); }
  .ico.registro {
    background-image: url("../img/nuevo_registro.png"); }
  .ico.buscar {
    background-image: url("../img/search.png"); }
  .ico.borrar {
    background-image: url("../img/trash.png"); }

/*# sourceMappingURL=main.css.map */
