@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  background: #595656; }

.navbar-fixed-top {
  background: #f89829; }
  .navbar-fixed-top .navbar-header {
    background: #302f2f;
    float: left;
    width: 100%;
    padding: 0px;
    position: absolute;
    left: 0px; }
    .navbar-fixed-top .navbar-header a {
      color: #fff;
      margin-left: auto !important; }
  .navbar-fixed-top .navbar-collapse .navbar-right {
    height: 50px;
    position: absolute;
    right: 15px; }
    .navbar-fixed-top .navbar-collapse .navbar-right li {
      height: 50px;
      border-left: 2px solid #F99F38; }
    .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user {
      height: 50px;
      width: 130px; }
      .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a {
        color: #333; }
        .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a span {
          vertical-align: top; }
        .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data {
          display: inline-block;
          height: 50px;
          width: 65px; }
          .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .name, .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name {
            font-size: 10px;
            margin: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 12px;
            font-weight: bold;
            font-family: 'Roboto', sans-serif; }
          .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name {
            font-size: 8px; }
            .navbar-fixed-top .navbar-collapse .navbar-right .perfil-user a .user-data .role-name .caret {
              vertical-align: middle; }

.principal-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  padding-top: 50px; }
  .principal-wrapper .col-sm-2.paddingless, .principal-wrapper .col-sm-10.paddingless {
    padding: 0px; }
  .principal-wrapper .panel-group {
    margin-right: -3px;
    margin-bottom: 0px;
    border-radius: 0px;
    background: #F8F8F8;
    width: 100%; }
    .principal-wrapper .panel-group .panel-menu, .principal-wrapper .panel-group .panel-submenu, .principal-wrapper .panel-group .panel-last-menu {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border-color: #979494;
      cursor: pointer; }
      .principal-wrapper .panel-group .panel-menu .panel-heading, .principal-wrapper .panel-group .panel-submenu .panel-heading, .principal-wrapper .panel-group .panel-last-menu .panel-heading {
        background: #595656;
        color: #fff;
        height: 45px;
        border-radius: 0px; }
        .principal-wrapper .panel-group .panel-menu .panel-heading a, .principal-wrapper .panel-group .panel-submenu .panel-heading a, .principal-wrapper .panel-group .panel-last-menu .panel-heading a {
          margin-left: 5px;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
      .principal-wrapper .panel-group .panel-menu .bg-submenu, .principal-wrapper .panel-group .panel-submenu .bg-submenu, .principal-wrapper .panel-group .panel-last-menu .bg-submenu {
        background: #302f2f;
        margin-right: -3px; }
        .principal-wrapper .panel-group .panel-menu .bg-submenu a, .principal-wrapper .panel-group .panel-submenu .bg-submenu a, .principal-wrapper .panel-group .panel-last-menu .bg-submenu a {
          margin-left: 28px; }
      .principal-wrapper .panel-group .panel-menu .bg-last-menu, .principal-wrapper .panel-group .panel-submenu .bg-last-menu, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu {
        height: 30px;
        font-size: 10px;
        background: #595656; }
        .principal-wrapper .panel-group .panel-menu .bg-last-menu a, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a {
          margin-left: 50px;
          font-family: 'Roboto', sans-serif;
          font-size: 11px; }
        .principal-wrapper .panel-group .panel-menu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-menu .bg-last-menu a:hover, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-submenu .bg-last-menu a:hover, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a:focus, .principal-wrapper .panel-group .panel-last-menu .bg-last-menu a:hover {
          text-decoration: none; }
    .principal-wrapper .panel-group .panel-submenu:last-of-type, .principal-wrapper .panel-group .panel-last-menu:last-of-type {
      margin-bottom: 0px; }
    .principal-wrapper .panel-group .panel-exit {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border: 0px; }
      .principal-wrapper .panel-group .panel-exit .bg-exit {
        background: #f89829;
        margin-right: -3px;
        height: 45px;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 17%; }
        .principal-wrapper .panel-group .panel-exit .bg-exit a {
          margin-left: 5px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
        .principal-wrapper .panel-group .panel-exit .bg-exit a:focus, .principal-wrapper .panel-group .panel-exit .bg-exit a:hover {
          text-decoration: none; }
  .principal-wrapper .content-wrapper {
    border-radius: 0px;
    background: #959595;
    padding: 10px; }
    .principal-wrapper .content-wrapper .body {
      border-radius: 0px;
      margin-bottom: -7px;
      margin-left: -1px;
      border: 0px; }
      .principal-wrapper .content-wrapper .body .bg-exit {
        background: #f89829;
        margin-right: -3px;
        height: 45px;
        font-weight: bold;
        position: fixed;
        bottom: 0;
        width: 17%; }
        .principal-wrapper .content-wrapper .body .bg-exit a {
          margin-left: 5px;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-size: 12px;
          vertical-align: super; }
        .principal-wrapper .content-wrapper .body .bg-exit a:focus, .principal-wrapper .content-wrapper .body .bg-exit a:hover {
          text-decoration: none; }
      .principal-wrapper .content-wrapper .body .panel-default {
        border: none;
        padding: 0 0px; }
        .principal-wrapper .content-wrapper .body .panel-default .panel-heading {
          background: none; }
    .principal-wrapper .content-wrapper .heading {
      padding: 20px; }
      .principal-wrapper .content-wrapper .heading h3 {
        color: white;
        margin-top: 0px;
        margin-bottom: 5px; }
      .principal-wrapper .content-wrapper .heading p {
        margin-bottom: 0px;
        color: white;
        font-size: 14px; }
        .principal-wrapper .content-wrapper .heading p .first-breadcrumb {
          color: black; }
        .principal-wrapper .content-wrapper .heading p .last-breadcrumb {
          color: #f89829; }
    .principal-wrapper .content-wrapper .content-wrapper {
      margin-left: 3px; }
      .principal-wrapper .content-wrapper .content-wrapper .panel {
        margin-right: 1px; }
    .principal-wrapper .content-wrapper .panel-heading {
      position: relative;
      padding: 20px 40px; }
      .principal-wrapper .content-wrapper .panel-heading h4 {
        margin-left: -15px;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px; }
      .principal-wrapper .content-wrapper .panel-heading .principal-buttons {
        margin-top: 25px; }
      .principal-wrapper .content-wrapper .panel-heading .col-sm-6 {
        padding: 0px; }
      .principal-wrapper .content-wrapper .panel-heading .new-registry {
        font-size: 20px;
        color: white;
        text-align: center;
        width: 30px;
        height: 30px;
        background: #f89829;
        padding-top: 0px;
        padding-left: 9px;
        cursor: pointer;
        background: #f89829; }
      .principal-wrapper .content-wrapper .panel-heading label {
        margin-top: 7px;
        margin-left: 15px;
        color: #959595;
        font-weight: normal; }
      .principal-wrapper .content-wrapper .panel-heading .search-group {
        width: 30%;
        margin-left: 20px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group .input-group-addon {
          background: none;
          border-right: none;
          height: 29px;
          padding: 5px 12px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group input {
          border-left: none;
          padding-left: 0px;
          height: 30px; }
        .principal-wrapper .content-wrapper .panel-heading .search-group ::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-style: italic; }
      .principal-wrapper .content-wrapper .panel-heading .btn-wrapper {
        width: 100%; }
        .principal-wrapper .content-wrapper .panel-heading .btn-wrapper .btn-gray {
          width: 20%;
          background: #959595;
          color: white;
          float: right;
          font-size: 12px;
          font-weight: normal;
          letter-spacing: 1px; }
          .principal-wrapper .content-wrapper .panel-heading .btn-wrapper .btn-gray:last-of-type {
            margin-right: 20px; }
      .principal-wrapper .content-wrapper .panel-heading hr {
        width: 100%;
        height: 1px;
        color: #959595;
        position: absolute;
        left: 0px;
        bottom: 0px; }
    .principal-wrapper .content-wrapper .panel-body {
      border: none !important;
      padding-left: 40px;
      padding-right: 40px; }
      .principal-wrapper .content-wrapper .panel-body .form-group label {
        width: 100%;
        text-transform: uppercase; }
      .principal-wrapper .content-wrapper .panel-body .form-group .btn-group {
        width: 100%;
        display: block; }
        .principal-wrapper .content-wrapper .panel-body .form-group .btn-group .dropdown-toggle {
          width: 100%;
          background: white;
          color: #959595;
          text-align: left;
          border: 1px solid #555; }
          .principal-wrapper .content-wrapper .panel-body .form-group .btn-group .dropdown-toggle .caret {
            float: right;
            color: black;
            margin-top: 8px; }
      .principal-wrapper .content-wrapper .panel-body .form-group .form-control {
        width: 100%;
        background: white;
        color: #959595;
        text-align: left;
        border: 1px solid #555; }
      .principal-wrapper .content-wrapper .panel-body .form-group .radio {
        float: left;
        width: 50%;
        margin-top: 0px; }
        .principal-wrapper .content-wrapper .panel-body .form-group .radio label {
          position: relative;
          overflow: hidden;
          height: 30px;
          line-height: 2.5;
          padding-left: 30px;
          margin-top: 5px; }
          .principal-wrapper .content-wrapper .panel-body .form-group .radio label input {
            position: absolute;
            left: 0; }
            .principal-wrapper .content-wrapper .panel-body .form-group .radio label input:after {
              position: absolute;
              left: 20px;
              border: 1px solid #959595;
              color: #f89829;
              width: 20px;
              height: 20px;
              font-size: 29px;
              border-radius: 15px;
              content: "ÔùÅ";
              line-height: 0;
              padding-top: 7px;
              content: ""; }
          .principal-wrapper .content-wrapper .panel-body .form-group .radio label input:checked:after {
            content: "●"; }

.center {
  text-align: center; }

.active {
  background: #9E6E36 !important; }

.active-last-menu {
  background: #f89829 !important; }

.logo-hermes {
  background-image: url("../img/logo_hermes.png");
  width: 100px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-size: 70px; }

.ico {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
  background-size: 16px; }
  .ico.inicio {
    background-image: url("../img/dash.png"); }
  .ico.administracion {
    background-image: url("../img/administracion.png"); }
  .ico.recursos-humanos {
    background-image: url("../img/rh.png"); }
  .ico.comprimir {
    background-image: url("../img/comprimir.png");
    float: right;
    background-size: 10px; }
  .ico.comprimir-tabla {
    background-image: url("../img/comprimir_table.png"); }
  .ico.dots {
    background-image: url("../img/dots.png");
    background-size: auto;
    float: right;
    margin-top: -30px;
    margin-right: -20px; }
  .ico.editar {
    background-image: url("../img/edit.png"); }
  .ico.expandir {
    background-image: url("../img/expandir.png");
    float: right;
    background-size: 10px; }
  .ico.filtro {
    background-image: url("../img/filter.png"); }
  .ico.grua {
    background-image: url("../img/grua.png"); }
  .ico.salir {
    background-image: url("../img/logout.png"); }
  .ico.combos {
    background-image: url("../img/menu.png"); }
  .ico.notificaciones {
    background-image: url("../img/notificaciones.png"); }
  .ico.registro-over {
    background-image: url("../img/nuevo_registro_over.png"); }
  .ico.registro {
    background-image: url("../img/nuevo_registro.png"); }
  .ico.buscar {
    background-image: url("../img/search.png"); }
  .ico.borrar {
    background-image: url("../img/trash.png"); }

.btn-form-documents {
  width: 100%; }
  .btn-form-documents .btn {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 100%; }
    .btn-form-documents .btn.btn-documents-data {
      height: 40px;
      background: #f89829;
      color: #fff;
      border: 1px solid #A96E0B;
      width: 35%; }
    .btn-form-documents .btn.btn-documents-plus {
      height: 40px;
      background: #fff;
      color: #f89829;
      border: 1px solid #f89829;
      width: 8%; }
      .btn-form-documents .btn.btn-documents-plus .plus {
        font-size: 24px;
        display: block;
        margin-top: -5px; }

.result-table {
  margin-bottom: 0px;
  border-bottom: 1px solid #959595; }
  .result-table thead tr:first-of-type {
    background-color: #D0CDCB !important; }
  .result-table td:first-of-type, .result-table th:first-of-type {
    width: 50px;
    padding-left: 20px; }
  .result-table td:last-of-type, .result-table th:last-of-type {
    padding-right: 30px; }
  .result-table td {
    vertical-align: middle !important; }
  .result-table tr:nth-of-type(odd) {
    background-color: #fff; }
  .result-table tr:nth-of-type(even) {
    background-color: #e5e5e5; }
  .result-table .ico-crane {
    background: url("../img/grua.png") no-repeat;
    width: 56px;
    height: 41px;
    display: block; }
  .result-table .ico-edit {
    background: url("../img/edit.png") no-repeat;
    width: 22px;
    height: 22px;
    display: block;
    float: left; }
  .result-table .ico-trash {
    background: url("../img/trash.png") no-repeat;
    width: 17px;
    height: 20px;
    display: block;
    float: right; }
  .result-table .btn-default {
    background-color: #767676;
    background-image: none;
    color: #fff;
    font-size: 12px; }
    .result-table .btn-default :hover {
      background-color: #767676;
      background-image: none; }
    .result-table .btn-default.width50p {
      width: 50%; }
  .result-table .checkbox-label {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 0px; }
    .result-table .checkbox-label input[type=checkbox] {
      position: absolute;
      left: -15px;
      top: 4px;
      margin: 0px; }
      .result-table .checkbox-label input[type=checkbox]:after {
        width: 15px;
        height: 15px;
        border-radius: 3px;
        background: #e5e5e5;
        border: 1px solid #959595;
        content: "";
        position: absolute;
        left: 15px;
        top: 0px; }
    .result-table .checkbox-label input[type=checkbox]:checked:after {
      content: "\2713";
      padding-left: 1px;
      line-height: 1.2; }

.pager-wrapper {
  width: 100%;
  float: left;
  background-color: #F8F8F8;
  padding: 20px; }
  .pager-wrapper p {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 10px; }
  .pager-wrapper nav {
    width: 50%;
    float: right; }
    .pager-wrapper nav .pagination {
      margin-top: 0px;
      margin-bottom: 0;
      float: right;
      color: #595656; }
      .pager-wrapper nav .pagination li a {
        color: #595656;
        border-color: #595656; }
        .pager-wrapper nav .pagination li a:hover {
          background-color: #f89829; }

/*# sourceMappingURL=main.css.map */
